<%- include('./partials/header.ejs') %>
<div class="container-fluid bg-dark">
    <div class="row">
        <div class="col-sm-2">
            <%- include('./partials/sidebar.ejs',{page_name :'Home'}) %>

        </div>
        <div class="col-sm-10">

            <div class=" mt-5">
                <div class="text-center">
                    <img src="/images/pic1.jpeg" alt="" class="img-thumbnail" width="250px" height="150px">
                </div>
                
                <div class=" mt-5 text-white mx-5 text-justify">
                <h1 class="font-weight-bold st-font"> Hello,</h1> 
                <div class="px-4" style="line-height:2rem;">
                <div>
                    <p style="text-indent:100px"> I am <b class="text-warning"> Prasad Kanagi </b> Having 5 months Interships Experience in Python with Django Framework</p>
                        <p> Our Work as  Python Developer is responsible for coding, designing, deploying, and debugging development projects.
                            typically on the server-side (or back-end). They may, however, also help organizations with their technological framework.</p>
                </div>
                </div>
                <div class="text-center">
                    <a href="/Contact" class="btn btn-outline-warning my-3 mr-5"> Hire Me </a>
                    <br> <br>
                    <a href="/Contact" class="btn btn-outline-info my-3"> Contact </a>
                </div>
                    
                </div>
                
            
            </div>
          
        </div>
    </div>
</div>
    

<%- include('./partials/footer.ejs') %>
      